# SQL - PostgreSQL Assignment


* Install the necessary Python packages
  * `conda install -c conda-forge ipython-sql`
  * `conda install -c anaconda psycopg2`
  
* Install the latest version of Postgres for your platform from the homepage: https://www.postgresql.org/download/
  * Make sure you install all components
  * Leave the admin password as 'password' or make sure to correct the connection strings throughout the notebook (if you know what you're doing)
  * Leave the post setting on the default '5432'

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:password@localhost/postgres

## Setup for `customers`

In [ ]:
%%sql
DROP TABLE IF EXISTS customers;
CREATE TABLE customers (
    first_name TEXT,
    last_name TEXT,
    country TEXT,
    phone_number TEXT,
    email_address TEXT
);

INSERT INTO customers VALUES ('Rupert', 'Ascot', 'UK', '00123456789', 'rupert@ascot.co.uk');
INSERT INTO customers (first_name, last_name, email_address) VALUES ('Nargess', 'Newton-Jones', 'isaac@nj.com');
INSERT INTO customers (first_name, last_name) VALUES ('Arthur', 'King');
INSERT INTO customers (first_name, last_name, country, phone_number) VALUES ('Alice', 'Lindell', 'DE', '49492180185611');
INSERT INTO customers (first_name, last_name, country) VALUES ('Alicia', 'Gaius', 'UK');
INSERT INTO customers (first_name, last_name, country) VALUES ('Emma', 'Rock', 'FR');

## `SELECT` statement

### `SELECT *`

In [ ]:
%%sql

-- this is how to list the content of a table
SELECT * FROM customers;

### Specific columns

In [ ]:
%%sql

-- This is how to list only some columns of some entries
SELECT first_name, last_name FROM customers;

### WHERE clause

In [ ]:
%%sql
    
-- This is how to list only some columns of some entries
SELECT first_name, last_name
FROM customers
WHERE first_name = 'Rupert';

### Exercise: Working with `SELECT`

1) Find the email address of Nargess

In [ ]:
%%sql
-- write your answer here
SELECT email_address FROM customers WHERE first_name = 'Nargess'

2) Find all the information about Rupert

In [ ]:
%%sql
-- write your answer here
SELECT * FROM customers WHERE first_name = 'Rupert'

### Operators: LIKE, IN

In [ ]:
%%sql
SELECT * FROM customers WHERE email_address LIKE '%.co.uk'

In [ ]:
%%sql
SELECT * FROM customers WHERE country in ('UK', 'FR')

### `SELECT DISTINCT`

In [ ]:
%%sql
SELECT DISTINCT(first_name) FROM customers

## Dealing with NULL values

In [ ]:
%sql SELECT 'Rupert' || 'o';

Concatening returns null

In [ ]:
% sql SELECT 'Rupert' || NULL;

Arithmetic returns null

In [ ]:
%sql SELECT 42 + NULL;

Boolean arithmetic is weird

In [ ]:
%%sql 
SELECT 
    TRUE AND NULL, 
    TRUE OR NULL,
    FALSE AND NULL,
    FALSE OR NULL,
    NULL AND NULL,
    NULL OR NULL,
    NOT TRUE,
    NOT FALSE,
    NOT NULL;

In [ ]:
%%sql
SELECT email_address FROM customers WHERE email_address IS NOT NULL;

In [ ]:
%%sql
SELECT first_name, COALESCE(email_address, 'Unknown') as email FROM customers;

### AND, OR, NOT

In [ ]:
%%sql

-- This is how to select based on multiple criteria
-- Selecting clients that have no contact information
SELECT first_name, last_name
FROM customers
WHERE (phone_number IS NULL) AND (email_address IS NULL);

### Exercise: SELECT and Predicates

You can use `OR` and `NOT` in addition to `AND`.

1) Make a `SELECT` query to get all customers that have not filled up all two fields of their contact information.

In [ ]:
%%sql
--write your answer here
SELECT first_name, last_name
FROM customers
WHERE (phone_number IS NULL) OR (email_address IS NULL)

2) Return all the distinct valid countries

In [ ]:
%%sql
-- write your answer here
SELECT DISTINCT(country) FROM customers WHERE country IS NOT NULL

Other SQL features and remarks:

- Spaces do not matter.
- Don't forget the semi-colon at the end of a query.
- Case doesn't matter (SQL is case-insensitive). A common use is
    - `UPPERCASE` keywords
    - `lowercase`, `snake_case` identifiers

## Setup for `payments`

In [ ]:
%%sql
DROP TABLE IF EXISTS payments;
CREATE TABLE payments (
    payment_id INTEGER PRIMARY KEY,
    description TEXT,
    amount FLOAT,
    tag TEXT,
    date DATE
);

INSERT INTO payments VALUES (1, 'Deliveroo 3Dec', 44.99, 'FOOD', '2017-12-03');
INSERT INTO payments VALUES (2, 'Bank Charge',  6.50, 'OTHER', NULL);
INSERT INTO payments VALUES (3, 'Ritz', 449.99, 'ENTERTAINMENT', '2016-12-03');
INSERT INTO payments VALUES (4, 'VUE CINEMA LDN', 29.98, 'ENTERTAINMENT', '2016-11-03');

## `MIN`, `MAX`, `COUNT`, `SUM`, `AVG`, `ORDER BY`
You can summarise data right from the database. You can select the minimum, maximum, sum, average values of a column. You can order the result of a query by a given column. You can take the top N results.

In [ ]:
%%sql
SELECT MIN(amount) as "smallest payment", MAX(amount) as "highest payment" FROM payments;

In [ ]:
%%sql
SELECT COUNT(payment_id) as "number of payments" FROM payments

In [ ]:
%%sql
SELECT SUM(amount) as "total expense" FROM payments

In [ ]:
%%sql
SELECT AVG(amount) as "average expense" FROM payments

In [ ]:
%%sql
SELECT * FROM payments ORDER BY amount DESC

### Exercise: Finding insights

1) Find Average, min, max payment amount for payments tagged as "ENTERTAINMENT"

In [ ]:
%%sql
-- write your answer here
SELECT MAX(amount), MIN(amount), AVG(amount) FROM payments WHERE tag = 'ENTERTAINMENT'

2) How many payments under food?

In [ ]:
%%sql
-- write your answer here
SELECT COUNT(*) FROM payments WHERE tag = 'FOOD'

3) What is the sum of payments in year 2016? Hint look at https://www.postgresql.org/docs/11/static/functions-datetime.html

In [ ]:
%%sql
-- write your answer here
SELECT SUM(amount) FROM payments WHERE EXTRACT(YEAR FROM date) = '2016'

4) How many of our customers can we only contact through email?

In [ ]:
%%sql
-- write your answer here
SELECT COUNT(email_address) AS emails
FROM customers
WHERE (email_address IS NOT NULL) AND (phone_number IS NULL)

## `GROUP BY`

In [ ]:
%%sql
SELECT tag, SUM(amount) as total
FROM payments
GROUP BY tag
ORDER BY total ASC;

In [ ]:
%%sql
SELECT tag, SUM(amount) as total
FROM payments
WHERE tag in ('FOOD', 'ENTERTAINMENT')
GROUP BY tag
ORDER BY total ASC;

## `HAVING` clause

In [ ]:
%%sql
SELECT tag, SUM(amount) as "total"
FROM payments
GROUP BY tag
HAVING SUM(amount) > 100
ORDER BY total ASC;

### Exercise: Grouping and aggregating

1) Find the sum per payments' year. Make sure no NULL value slips through

In [ ]:
%%sql
-- write your answer here
SELECT EXTRACT(YEAR FROM date) as "year", SUM(amount) as "total"
FROM payments
GROUP BY year
HAVING EXTRACT(YEAR FROM date) IS NOT NULL

2) Find the number of payments for each tag

In [ ]:
%%sql
-- write your answer here
SELECT tag, COUNT(*) as count
FROM payments
GROUP BY tag

3) Find the average, min, max, sum for each tag

In [ ]:
%%sql
-- write your answer here
SELECT tag, AVG(amount) as avg, MIN(amount) as min, MAX(amount) as max
FROM payments
GROUP BY tag

## `CREATE TABLE`

### Exercise: Stocks table

Create a table to manage the stocks of a shop.
It should contain at least the following columns:
- product id
- name
- price
- quantity

You can use `INT` and `FLOAT` instead of `TEXT` to store numerical values.

In [ ]:
%%sql

-- write your answer here
DROP TABLE IF EXISTS stocks;
CREATE TABLE stocks (
    product_id INT,
    name TEXT,
    price FLOAT,
    quantity INT
)

In [ ]:
%%sql

INSERT INTO stocks VALUES (331, 'Oak table', 449.99, 5);
INSERT INTO stocks VALUES (332, 'Oak chair', 49.99, 25);
INSERT INTO stocks VALUES (31, 'Lamp', 24.99, 10)

-- Insert a few more products in the database

In [ ]:
%%sql

SELECT * FROM stocks;

## Constraints

In [ ]:
%%sql

-- drop the table to recreate it better    
DROP TABLE stocks;

-- notice the PRIMARY KEY and the NOT NULL markers
CREATE TABLE stocks (
    catalogue_number INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    description TEXT,
    price REAL NOT NULL CHECK (price > 0),
    quantity INT
);

-- repopulate the database
INSERT INTO stocks VALUES (331, 'Oak table', NULL, 449.99, 5);
INSERT INTO stocks VALUES (332, 'Oak chair', NULL, 49.99, 25);

### Exercise: Dirty data

- Try to add a product without a catalogue number, or with a NULL catalogue number
- Try to add two products with the same catalogue number

In [ ]:
%%sql

-- Add a sofa without a NULL catalogue number
INSERT INTO stocks VALUES (331, 'Sofa', NULL, 0, 10)

In [ ]:
%%sql

SELECT * FROM stocks;

In [ ]:
%%sql

-- com Add a Desk with the catalogue number 31 (identical to the Lamp)
INSERT INTO stocks (catalogue_number, name) VALUES (31, 'Desk')

## Python interface

Whilst you can do some processing directly with the database, you are often better off doing it in Python. You also need to interface your database with a Python (or otherwise) program when you have an online store or when you want a dedicated interface for your staff.

### SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:password@localhost/postgres")

In [ ]:
result = engine.execute('SELECT * FROM customers')
for (first_name, last_name, country, phone_number, email_address) in result.fetchall():
    print('{}: {}'.format(first_name, email_address))

## Pandas

In [ ]:
import pandas
customers = pandas.read_sql("SELECT * FROM customers", engine)
customers

### Exercise: Pandas and SQL
Using pandas, calculate the mean, count, min, max, sum for each tag in the payments table

In [ ]:
#Write your answer here
payments = pandas.read_sql("SELECT * FROM payments", engine)
payments.groupby(['tag'])['amount'].agg(['mean', 'count', 'min', 'max', 'sum'])

## Real-world dataset: City officials salaries in California

The file `data/peninsula_publicpay.pickle` contains data about the pay and benefits of city officials in California.

We'll load this data into Postgres for analysis (this might take 5 minutes).

(original database from http://2016.padjo.org/tutorials/sqlite-data-starterpacks/#toc-salaries-of-city-officials-from-the-california-peninsula, the sqlite database is also included in the `data` folder in case you'd like to explore it)

In [ ]:
%%sql
DROP TABLE IF EXISTS salaries;
CREATE TABLE salaries (
    "Year" INTEGER,
    "Entity Type" TEXT,
    "Entity Name" TEXT,
    "Department / Subdivision" TEXT,
    "Position" TEXT,
    "Elected Official" BOOLEAN,
    "Judicial" BOOLEAN,
    "Other Positions" TEXT,
    "Min Classification Salary" FLOAT,
    "Max Classification Salary" FLOAT,
    "Reported Base Wage" INTEGER,
    "Regular Pay" FLOAT,
    "Overtime Pay" FLOAT,
    "Lump-Sum Pay" FLOAT,
    "Other Pay" FLOAT,
    "Total Wages" FLOAT,
    "Defined Benefit Plan" FLOAT,
    "Employees Retirement Cost Covered" FLOAT,
    "Deferred Compensation Plan" FLOAT,
    "Health Dental Vision" FLOAT,
    "Total Retirement and Health Cost" FLOAT,
    "Pension Formula" TEXT,
    "Entity Population" INTEGER,
    "Entity County" TEXT
);

In [ ]:
# Please make sure you do not run this cell multiple times without re-running the previous cell as well.
salaries_df = pandas.read_pickle('data/peninsula_publicpay_gzip.pickle', compression='gzip')
salaries_df.to_sql('salaries', engine, if_exists="append", index=False)

Write Python code to extract information from the database and complete/answer the following task/questions:

- produce a bar plot of the “reported based wage” distribution,
- what is the size of the different departments
    - which are the biggest departments,
    - what's the size of the Parks & Recreation department (notes, names are not very reliable, try to match broadly),
- what is the wage distribution in the Public Health department, how does it compare to the wage distribution accross all departments.
- what percentage of workers have Dental and Vision insurrance provided as part of their employment

In [ ]:
#com Create the engine we'll use
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:password@localhost/postgres")

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Fetch the raw data
result = engine.execute('SELECT "Reported Base Wage" FROM salaries')

# Process in Python:
# - filter out missing values
# - convert to integer
# - divide by 1K
wages = [ int(int(wage) / 1000) for (wage,) in result.fetchall() if wage is not None]

# Make a dictionary out of the processed data points
def get_wage_distribution(wages):
    distribution = {}
    for wage in wages:
        if wage in distribution.keys():
            distribution[wage] = distribution[wage]+1
        else:
            distribution[wage] = 1
    return distribution

wage_distribution = get_wage_distribution(wages)



# plot
plt.bar(range(len(wage_distribution)), list(wage_distribution.values()), align='center')
plt.show()

In [ ]:
query = """SELECT "Department / Subdivision", COUNT("Entity Name")
            FROM salaries
            GROUP BY "Department / Subdivision"
            ORDER BY COUNT("Entity Name") DESC"""
result = engine.execute(query)
department_sizes = result.fetchall()

print(department_sizes[:10])
for (name, size) in department_sizes:
    if "Park" in name and "Rec" in name:
        print('{}: {}'.format(name, size))

# NOTE: department names are not very well organised (there it "Fire Department" and "Fire")

In [ ]:
query = """SELECT "Department / Subdivision", COUNT("Reported Base Wage")
            FROM salaries
            GROUP BY "Department / Subdivision"
            ORDER BY COUNT("Reported Base Wage") DESC"""
result = engine.execute(query)
overtime_info = result.fetchall()
print(overtime_info[:10])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Fetch the raw data
result = engine.execute("""SELECT "Reported Base Wage" FROM salaries WHERE "Department / Subdivision" = 'Public Health' """)

# Process in Python:
# - filter out missing values
# - convert to integer
# - divide by 1K
wages = [ int(int(wage) / 1000) for (wage,) in result.fetchall() if wage is not None]

# Make a dictionary out of the processed data points
def get_wage_distribution(wages):
    distribution = {}
    for wage in wages:
        if wage in distribution.keys():
            distribution[wage] = distribution[wage]+1
        else:
            distribution[wage] = 1
    return distribution

wage_distribution = get_wage_distribution(wages)

# plot
plt.bar(range(len(wage_distribution)), list(wage_distribution.values()), align='center')
plt.show()

In [ ]:
query = """SELECT "Health Dental Vision", COUNT("Health Dental Vision")
            FROM salaries
            GROUP BY "Health Dental Vision"
            ORDER BY "Health Dental Vision" ASC"""
result = engine.execute(query)
hdv_info = result.fetchall()
print(hdv_info[:10])